.stopBlob1 {
  stop-color: var(--theme-clr);
  transition: var(--transition-300);
}
.stopBlob2 {
  stop-color: var(--theme-clr-alt);
  transition: var(--transition-300);
}
.blob__path {
  cursor: grab;
}
