.work {
  padding: 100px 0px;
}
.work__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 1201px) {
  .work {
    padding: 40px 20px;
  }
}
