.work {
  padding: 40px 0;
  min-height: 80vh;
}
.work__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .work {
    padding: 40px 20px;
  }
}
