.navbar {
  height: 60px;
  width: 100%;
  background: var(--white-clr);
  box-shadow: var(--shadow);
  z-index: 999;
  position: fixed;
  top: 0;
}
.navbar__container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.navbar__left {
  width: 100px;
}
.navbar__left > p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black-clr);
}
.navbar__left > p > span {
  color: var(--theme-clr);
  transition: var(--transition-300);
}

.navbar__mid {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}
.navbar__mid > a {
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  width: 6.25rem;
  text-align: center;
  text-decoration: none;
  color: var(--gray-clr);
  transition: var(--transition-300);
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__mid > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--gray-clr);
  height: 2px;
  width: 0;
  border-radius: 5px;
  transition: var(--transition-300);
}
.navbar__mid > a:hover::after {
  width: 50%;
}

.navbar__mid > a.active {
  color: var(--theme-clr);
}
.navbar__mid > a.active::after {
  background: var(--theme-clr);
  width: 100%;
}
.navbar__right {
  width: 100px;
}

.navbar__lang {
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--gray-clr);
  transition: var(--transition-150);
}
.navbar__lang:hover {
  color: var(--theme-clr);
}

.navbar__menu {
  display: none;
}
.navbar__mobile {
  display: flex;
  flex-direction: column;
  background: var(--white-clr);
  position: absolute;
  top: -300px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-radius: 5px;
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: var(--transition-300);
}
.navbar__mobile > a {
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--theme-clr);
  font-weight: bold;
  transition: var(--transition-300);
}
.navbar__mobile > a:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.navbar__mobile > a:hover {
  background: #eee;
}
.navbar__mobile.active {
  top: 80px;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .navbar__mid {
    display: none;
  }
  .navbar__menu {
    display: block;
  }
  .navbar__left {
    flex: 1;
  }
}
