.skills {
  padding: 100px 0;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.skills__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 40px;
}
.skills__box {
  background: var(--white-clr);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  transition: var(--transition-300);
  flex: 1;
  min-width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--transition-300);
}

.skills__box > h1 {
  background: var(--theme-clr);
  color: var(--white-clr);
  text-align: center;
  font-size: 1.2rem;
}
.skills__box > ul {
  list-style: none;
}
.skills__box > ul > li {
  font-size: 1rem;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  color: var(--gray-clr);
  text-align: center;
}
.skills__box > ul > li:last-child {
  border-bottom: none;
}

/* Slider */
.skills__container {
  width: 100%;
  position: relative;
  padding: 40px 0;
  margin-top: 40px;
}
.skills__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: linear-gradient(
    to right,
    rgb(252, 252, 255) 30%,
    rgb(252, 252, 255, 0) 100%
  );
  z-index: 2;
}
.skills__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background: linear-gradient(
    to left,
    rgb(252, 252, 255) 30%,
    rgb(252, 252, 255, 0) 100%
  );
  z-index: 2;
}

.slick-slide {
  height: 100px !important;
}
.slick-slide img {
  width: 100px !important;
  height: 100px !important;
  object-fit: contain;
  filter: grayscale(1);
}
.slick-slide img:hover {
  filter: grayscale(0);
}

@media screen and (max-width: 768px) {
  .slick-slide img {
    width: 50px !important;
    height: 50px !important;
    filter: grayscale(0);
  }
  .skills__content {
    gap: 30px;
    text-align: center;
  }
  .skills__container::before,
  .skills__container::after {
    width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .skills__container::before,
  .skills__container::after {
    width: 100px;
  }
  .skills__container {
    margin-top: 0px;
  }
  .skills {
    padding: 40px 0;
  }
}
