.main {
  display: flex;
  align-items: center;
  height: calc(100vh - 60px);
}

.main__left,
.main__right {
  flex: 1;
}
.main__left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  z-index: 2;
}

.main__header {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
.main__header > h1 {
  font-size: 4.375rem;
  font-weight: 200;
}
.main__header > span {
  display: block;
  font-size: 1rem;
  color: var(--theme-clr);
  font-weight: 400;
  letter-spacing: 1.5px;
  transition: var(--transition-300);
}
.main__desc {
  max-width: 500px;
}
.main__desc > p {
  font-size: 1rem;
  color: var(--gray-clr);
  text-align: justify;
}
.main__theme {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main__theme > p {
  font-size: 1rem;
  color: var(--black-clr);
  text-transform: capitalize;
}
.main__theme > p > span {
  font-weight: bold;
}

.main__themeContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main__themeSelect {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  transition: var(--transition-150);
}
.main__themeSelect:active {
  transform: scale(0.9);
}
.main__themeSelect.blue {
  background: rgb(104, 107, 255);
}
.main__themeSelect.red {
  background: rgb(228, 104, 104);
}
.main__themeSelect.green {
  background: rgb(104, 228, 188);
}

.stopBlob1 {
  stop-color: var(--theme-clr);
  transition: var(--transition-300);
}
.stopBlob2 {
  stop-color: var(--theme-clr-alt);
  transition: var(--transition-300);
}

.main__right {
  width: 100%;
  height: 100%;
  position: relative;
}

.main__blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__blob.filter {
  filter: blur(50px);
}

@media screen and (max-width: 768px) {
  .main {
    position: relative;
  }
  .main__right {
    position: absolute;
    top: 0;
    left: 0;
  }
  .main__blob {
    width: 150%;
    opacity: 0.2;
    filter: blur(5px);
  }
  .main__left {
    gap: 5rem;
  }
  .main__desc > p {
    color: var(--black-clr);
    text-align: center;
  }
  .main__header {
    line-height: 1.5;
  }
  .main__theme {
    align-items: center;
  }
  .main__desc {
    margin: 0 auto;
  }
}
