@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&display=swap");

:root {
  --shadow: 0 10px 20px -7px rgba(44, 47, 219, 0.07);
  --shadow-box: 0 20px 10px -15px rgb(197 192 249 / 20%);

  /* clrs */
  --bg-clr: #fcfcff;
  --white-clr: #fff;
  --black-clr: #121212;
  --gray-clr: #777;

  /* Btn */

  /* transition */
  --transition-300: all 0.3s ease-in-out;
  --transition-150: all 0.15s ease-in-out;

  /* screen */
  --max-width: 1200px;
  /* theme */
  --theme-clr: rgb(104, 107, 255);
  --theme-clr-alt: rgb(38, 40, 151);
}

.app.blue {
  --theme-clr: rgb(104, 107, 255);
  --theme-clr-alt: rgb(38, 40, 151);
  --btn-bg: linear-gradient(to right, #6a68e4 0%, #584ad1 99%);
  --btn-shadow: 0 12px 12px -11px #180db4b8;
}
.app.red {
  --theme-clr: rgb(228, 104, 104);
  --theme-clr-alt: rgb(150, 36, 36);
  --btn-bg: linear-gradient(to right, #e46868 0%, #d14a4a 99%);
  --btn-shadow: 0 12px 12px -11px #b40d0db8;
}
.app.green {
  --theme-clr: rgb(59, 138, 109);
  --theme-clr-alt: rgb(109, 224, 182);
  --btn-bg: linear-gradient(to right, #68e4bc 0%, #4ad0d1 99%);
  --btn-shadow: 0 12px 12px -11px #0db4afb8;
}

.app {
  overflow: hidden;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: var(--bg-clr);
}

button,
input,
select,
textarea,
button {
  font-family: "Cairo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 13px;
}
@media screen and (min-width: 550px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 991px) {
  html {
    font-size: 16px;
  }
}
.screen-width {
  max-width: var(--max-width);
  margin: 0 auto;
}
@media screen and (max-width: 1201px) {
  .screen-width {
    padding: 0 20px;
  }
}

.title {
  padding: 40px 20px;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: var(--black-clr);
  position: relative;
}
.title > span {
  color: var(--theme-clr);
  transition: var(--transition-300);
}
.title::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--black-clr);
  height: 2px;
  border-radius: 5px;
}
@media screen and (max-width: 500px) {
  .title {
    line-height: 1.2;
  }
}
